<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="motoman_gp12">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import motoman_gp12 urdf file -->
    <xacro:include filename="$(find motoman_gp12_support)/urdf/gp12.urdf" />

</robot>
